body {
    font: 1.5rem Verdana, Arial, sans-serif;
    color: #333;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    border: solid 1px red;
    margin: 0;
}

.header {
    background-color: #b8b8b8;
    font-size: 3rem;
}

div.main {
    background-color: #e6e6e6;
    flex: 1;
}

div.sidebar1,
div.sidebar2 {
    background-color: #84ccf0;
    flex: 0 0 25%;
}

div.footer {
    background-color: #b8b8b8;
}

.content {
    display: flex;
    flex: 1 1 0%;
    width: 80%;
    margin: 0 auto;
    border: solid 1px green;
}

.sidebar1 {
    order: -1;
}